{% extends 'betagram/base.html' %}

{% block body %}

{% if request.user.is_authenticated %}
<h1>Feed</h1>

{% for post in all_posts %}
<a href = "{% url 'profile' post.owner.username %}">
    <img src="{{post.owner.profile.image.url}}" class = "rounded-circle" width="50px" height="50px">
    <h3>{{post.owner.username}}</h3>
</a>
<a href = "{{ post.get_absolute_url }}"><img src="{{post.image.url}}"></a>
<h2>{{post.likecount}}</h2>
<h3>{{post.caption}}</h3>

{% endfor %}

{% else %}
<h1>Betagram</h1>

{% endif %}

{% endblock %}
