{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block load_css %}
<link rel="stylesheet" href="{% static 'users/login_style.css' %}">
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<h1>You are already logged in</h1>

{% else%}

<div class="row mt-3">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 px-5 login_box mx-auto py-5" style="background-color: white; border: 1px solid gray;">
        <h1 class="heading mb-3">Betagram</h1>
        <h4 class="subheading my-5">Log in</h4>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="wrapper" style="text-align: center;">
            <button class = "btn btn-outline-secondary btn-lg my-3 mx-auto" type="submit">Submit</button>
            <br>
            <small class="text-muted">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
            </div>
            
        </form>
    </div>

</div>


{% endif %}

{% endblock %}
