{% extends 'betagram/base.html' %}
{% load crispy_forms_tags %}

{% block body %}


{% if accept_request %}

<h2>{{ user.username }} sent you a request </h2>

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="accept">
    <button class="btn btn-success btn-md mt-1 mb-1" type="submit">Accept</button>
</form>


<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="reject">
    <button class="btn btn-danger btn-md mt-1 mb-1" type="submit">Reject</button>
</form>

<br>

{% endif %}



<h1>Profile</h1>
<img src="{{user.profile.image.url}}">
<h2>{{user.username}}</h2>
<h2>{{user.first_name}}  {{user.last_name}}</h2>

<h2>Posts - {{user.post_set.count}}</h2>  

{% if is_following or user == request.user %}
<a href="{% url 'follower_list' user.username %}">
    <h2>Followers - {{user.profile.followers.count}}</h2>
</a>

{% else %}
    <h2>Followers - {{user.profile.followers.count}}</h2>

{% endif %}



{% if is_following or user == request.user %}
<a href="{% url 'following_list' user.username %}">
    <h2>Following - {{user.profile.following.count}}</h2>    
</a>

{% else %}
    <h2>Following - {{user.profile.following.count}}</h2> 
    
{% endif %}
<h3>{{user.profile.bio}}</h3>









{% if request.user == user %}
<a class="btn btn-secondary btn-lg mt-1 mb-1" href="{% url 'profile-edit' username=request.user.username %}">Edit</a>


{% elif is_following %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="unfollow">
    <button class="btn btn-secondary btn-lg mt-1 mb-1" type="submit"">Unfollow</button>
</form>


{% elif request_sent %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="remove_request">
    <button class="btn btn-secondary btn-lg mt-1 mb-1" type="submit">Request Sent -- Remove follow request</button>
</form>


{% else %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="follow">
    <button class="btn btn-secondary btn-lg mt-1 mb-1" type="submit">Follow</button>
</form>
{% endif %}


{% if is_followed %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="status" value="unfollowed">
    <button class="btn btn-secondary btn-lg mt-1 mb-1" type="submit">Remove Follower</button>
</form>
{% endif %}

<br>
<br>

{% if request.user == user or is_following %}

    <h3>Posts</h3>
    <br>

    <div class="infinite-container">
        {% for post in posts %}
        <div class="infinite-item" style="display: inline;">
            <a href = "{{ post.get_absolute_url }}"><img src="{{post.image.url}}" width="200", height="200"></a>
        </div>
        {% endfor %}
    </div>

    {% if posts.has_next %}
    <div class="loading">
        <h4><a class="infinite-more-link" href="?page={{posts.next_page_number}}">More</a></h4>
    </div>
    {% endif %}


{% endif %}

{% endblock %}