<!DOCTYPE html>
<html>
  <head>
    <title>{% block title%}{% endblock %}</title>

    {% load static %}

    {% block load_css %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:600&display=swap" rel="stylesheet">
  </head>


  
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      
      <a class="navbar-brand pr-5" href="{% url 'feed:home' %}">
          <img src="{% static 'images/logo.ico' %}" width="40" height="40" alt="">
        </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#topNavBar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="topNavBar">
        
        {% if request.user.is_authenticated %}
        
        <ul class="navbar-nav mr-auto">

          <li class="nav-item mx-3">
            <span class="fa-stack fa-2x icon">
              <a href="{% url 'create' %}">
                <i class="far fa-plus-square"></i>
              </a>
            </span>
          </li>

          <li class="nav-item mx-3">
            <span class="fa-stack fa-2x icon">
              <a href="{% url 'notifs:notification_page' %}">
                <i class="far fa-bell"></i>
              </a>
            </span>
          </li>

        </ul>

        {% endif %} 
        
        
        {% if request.user.is_authenticated %}

          <form class="form-inline my-2 my-lg-0 ml-auto mr-4" method="GET" action="{% url 'search:search_result' %}">
            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
            <button type="submit">
              <span class="fa-stack icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </form>

          <ul class="navbar-nav">

          <li class="nav-item mx-2 ml-2">
            <span class="fa-stack fa-2x icon">
              <a href="{% url 'profile' request.user.username %}">
                <i class="far fa-user"></i>
              </a>
            </span>
          </li>

          <li class="nav-item mx-2">
            <span class="fa-stack fa-2x icon">
              <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out-alt"></i>
              </a>
            </span>
          </li>

        </ul>

        {% else %}

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="fa-stack fa-2x icon">
              <a href="https://www.linkedin.com/in/utkarsh-agrawal-622b5b16b/" target="_blank">
                <i class="fab fa-linkedin-in fa-stack-1x"></i>
              </a>
            </span>
          </li>
        
          <li class="nav-item">
            <span class="fa-stack fa-2x icon">
              <a href="https://github.com/UtkarshAgrawalDTU/" target="_blank">
                <i class="fab fa-github fa-stack-1x"></i>
              </a>
            </span>
          </li>
      
          <li class="nav-item">
            <span class="icon fa-stack fa-2x icon">
              <a href="mailto:agrawal.utkarsh8@gmail.com" target="_blank">
                <i class="far fa-envelope fa-stack-1x"></i>
              </a>
            </span>
          </li>
          </ul>

        {% endif %}
      </div>
    </div>
  </nav>




  <body>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {% block body %}{% endblock %}
    </div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src = "{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src = "{% static 'js/infinite.min.js' %}"></script>

<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>





</body>
</html>
