{% extends 'betagram/base.html' %}

{% block body %}

    <span>
        <a href = "{% url 'profile' post.owner.username %}">
        <img src="{{post.owner.profile.image.url}}" class = "rounded-circle" width="50px" height="50px">
        <h3>{{post.owner.username}}</h3>
        </a>
    </span>
    
    <img src="{{post.image.url}}" >
    <h3>Likes - {{post.likecount}}</h3>
    <h3>{{post.caption}}</h3>
    <br>
    <form method="POST" name = "like">
        {% csrf_token %}

        {% if has_liked %}
            <button class="btn btn-danger btn-md mt-1 mb-1" type="submit" name="like">Unlike</button>
        {% else %}
            <button class="btn btn-danger btn-md mt-1 mb-1" type="submit" name="like">Like</button>
        {% endif %}

    </form>
    <br>
    <br>
    
    <h3>Comments</h3>

    <form method="POST" name = "comment">
        {% csrf_token %}
        <input class="form-control form-control-lg" type="text" placeholder="Your comment here" name="comment">
        <button class="btn btn-success btn-md mt-1 mb-1" type="submit">Comment</button> 
    </form>

    {% if post.commentonpost_set.all%}
    
    {% for comment in post.commentonpost_set.all %}
        <h4>{{comment.user.username}} - {{comment.comment}}</h4>

    {% endfor %}
    
    {% endif %}

    <br>
    <br>

    <h5>{{post.date}}</h5>
    {% if post.owner == request.user %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'posts:post_update' post.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'posts:post_delete' post.id %}">Delete</a>
    </div>
    {% endif %}


{% endblock %}