{% extends 'base.html' %}

{% block body %}


<br>
<a href="{% url 'requests' %}">
    <div class="row" style="max-width: 800px; height: 30px;">
        <img src="/media/default.jpg" class = "rounded-circle mx-4" width="50px" height="50px">
        <h2 class="pt-1">Follow Requests</h2>   
    </div>
    <br>
</a>
<hr>
<br>


<h2>Notifications</h2>
<br>

{% if new_notifs.count == 0 %}
    <h5>No new notifications</h5>
    <br>
{% endif %}

{% for notification in new_notifs %}


    {% if notification.notification_type == 'request' or notification.notification_type == 'req_accept' %}

        <a href = "{% url 'profile' notification.action_user.username %}">
            <div class="row" style="max-width: 800px; height: 60px;">
                <img src="{{notification.action_user.profile.image.url}}" class = "rounded-circle mx-4" width="50px" height="50px">

                {% if notification.notification_type == 'request' %}
                <h3 class="pt-1">{{notification.action_user.username}} wants to follow you </h3>
    
                {% else %}
                <h3 class="pt-1">{{notification.action_user.username}} accepted your follow request </h3>
    
                {% endif %}
            </div>
        </a>



    {% elif notification.notification_type == 'like' and not notification.action_user == request.user %}

    <a href = "{% url 'posts:post_detail' notification.post.id %}">
      <div class="row" style="max-width: 800px; height: 30px;">
        <img src="{{notification.post.image.url}}" class="mx-4" width="50px" height="50px">
        <h3 class="pt-1">{{notification.action_user.username}} liked your post </h3>
      </div>
    </a>


    {% else %}
    
    {% if not notification.action_user == request.user %}


    <a href = "{% url 'posts:post_detail' notification.post.id %}">
    <div class="row" style="max-width: 800px; height: 30px;">
            <img src="{{notification.post.image.url}}" class="mx-4" width="50px" height="50px">
            <h3 class="pt-1">{{notification.action_user.username}} commented on your post </h3>
       
    </div>
    </a>
       
    {% endif %}

    {% endif %}

<br>

{% endfor %}




<hr>


<h3 class="pt-3">Earlier</h3>

<br>


<div class="infinite-container">

    {% for notification in old_notifs %}

      {% if notification.notification_type == 'request' or notification.notification_type == 'req_accept' %}
      
      <div class="infinite-item">
        <a href = "{% url 'profile' notification.action_user.username %}">

            <div class="row" style="max-width: 800px; height: 30px;">
                <img src="{{notification.action_user.profile.image.url}}" class = "rounded-circle mx-4" width="50px" height="50px">

                {% if notification.notification_type == 'request' %}
                <h3 class="pt-1">{{notification.action_user.username}} wants to follow you </h3>

                {% else %}
                <h3 class="pt-1">{{notification.action_user.username}} accepted your follow request </h3>

                {% endif %}  
            </div>
        </a>
      </div>


      {% elif notification.notification_type == 'like' %}
      
      <div class="infinite-item">
        <a href = "{% url 'posts:post_detail' notification.post.id %}">
            <div class="row" style="max-width: 800px; height: 30px;">
                <img src="{{notification.post.image.url}}" class="mx-4" width="50px" height="50px">
                <h3 class="pt-1">{{notification.action_user.username}} liked your post </h3>   
            </div>
        </a>
      </div>


        {% else %}
        <div class="infinite-item">
            <a href = "{% url 'posts:post_detail' notification.post.id %}">
                <div class="row" style="max-width: 800px; height: 30px;">
                    <img src="{{notification.post.image.url}}" class="mx-4" width="50px" height="50px">
                    <h3 class="pt-1">{{notification.action_user.username}} commented on your post </h3>   
                </div>    
            </a>
        </div>
       
        {% endif %}

    {% endfor %}
</div>


{% if old_notifs.has_next %}
<div class="loading">
  <h4><a class="infinite-more-link" href="?page={{old_notifs.next_page_number}}">More</a></h4>
</div>
{% endif %}



{% endblock %}